.postbox{
background-color: #F1F1F1;
 -webkit-box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;-moz-box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid #DFDFDF;
}

#poststuff h3, .metabox-holder h3, .widefat th {
font-size: 15px;
font-family: Helvetica, Arial;
font-weight: normal;
line-height: 1;
}

.wrap .add-new-h2 {
border: 1px solid #AAA; text-decoration: none; text-align: center;font: 13px Helvetica, verdana, arial, sans-serif; white-space: nowrap; cursor: pointer; outline: none;color: #444; text-shadow: white 0 1px 2px;background: #e5e5e5; background: -moz-linear-gradient(top, #e5e5e5 0%, #f4f4f4 49%, #e5e5e5 50%, #f4f4f4 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(49%,#f4f4f4), color-stop(50%,#e5e5e5), color-stop(100%,#f4f4f4)); background: -webkit-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); background: -o-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); background: -ms-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f4f4f4',GradientType=0 ); background: linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); transition: .3s ease-in-out;-webkit-transition: .3s ease-in-out;  -moz-transition: .3s ease-in-out;  -webkit-box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;-moz-box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }


.wrap .add-new-h2:hover {-webkit-box-shadow: 0 1px 4px #aaa, inset 0 1px 0 white;-moz-box-shadow: 0 1px 4px #aaa, inset 0 1px 0 white;box-shadow: 0 1px 4px #aaa, inset 0 1px 0 white;-webkit-transition-duration:200ms,200ms,200ms;background: #e0e0e0; background: -moz-linear-gradient(top, #e0e0e0 0%, #e8e8e8 49%, #e0e0e0 50%, #e8e8e8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(49%,#e8e8e8), color-stop(50%,#e0e0e0), color-stop(100%,#e8e8e8)); background: -webkit-linear-gradient(top, #e0e0e0 0%,#e8e8e8 49%,#e0e0e0 50%,#e8e8e8 100%); background: -o-linear-gradient(top, #e0e0e0 0%,#e8e8e8 49%,#e0e0e0 50%,#e8e8e8 100%); background: -ms-linear-gradient(top, #e0e0e0 0%,#e8e8e8 49%,#e0e0e0 50%,#e8e8e8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e8e8e8',GradientType=0 ); background: linear-gradient(top, #e0e0e0 0%,#e8e8e8 49%,#e0e0e0 50%,#e8e8e8 100%); border: 1px #aaa solid;color: #444!important; }

.wrap .add-new-h2:focus, .wrap .add-new-h2:active { background-color: #ededed;background: -moz-linear-gradient(top, #ededed 0%, #ededed 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ededed)); background: -webkit-linear-gradient(top, #ededed 0%,#ededed 100%); background: -o-linear-gradient(top, #ededed 0%,#ededed 100%); background: -ms-linear-gradient(top, #ededed 0%,#ededed 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed',GradientType=0 ); background: linear-gradient(top, #ededed 0%,#ededed 100%); -webkit-box-shadow: 0px 0px 0px #aaa, inset 0 5px 10px #d9d9d9;-moz-box-shadow: 0px 0px 0px #aaa, inset 0 5px 10px #d9d9d9;box-shadow: 0px 0px 0px #aaa, inset 0 5px 10px #d9d9d9; }

.button:active, .submit input:focus, .button, .submit input:active { 
border: 1px solid #AAA; text-decoration: none; text-align: center;font: 13px Helvetica, verdana, arial, sans-serif; white-space: nowrap; cursor: pointer; outline: none;color: #444; text-shadow: white 0 1px 2px;background: #e5e5e5; background: -moz-linear-gradient(top, #e5e5e5 0%, #f4f4f4 49%, #e5e5e5 50%, #f4f4f4 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(49%,#f4f4f4), color-stop(50%,#e5e5e5), color-stop(100%,#f4f4f4)); background: -webkit-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); background: -o-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); background: -ms-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f4f4f4',GradientType=0 ); background: linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); transition: .3s ease-in-out;-webkit-transition: .3s ease-in-out;  -moz-transition: .3s ease-in-out;  -webkit-box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;-moz-box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;  }

input.button-primary, button.button-primary, a.button-primary {-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
-webkit-box-shadow: 0 1px 4px #aaa, inset 0 1px 0 #b0ea9d;-moz-box-shadow: 0 1px 4px #aaa, inset 0 1px 0 #b0ea9d;box-shadow: 0 1px 4px #aaa, inset 0 1px 0 #b0ea9d;-webkit-transition-duration:200ms,200ms,200ms;background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8fba80), color-stop(0.5, #82aa74), color-stop(0.51, #99cd87), color-stop(1, #9ed48c));background-image: -moz-linear-gradient(center bottom, #8fba80 0%, #82aa74 50%, #99cd87 51%, #8fba80 100%);background-color:#82aa74; border: 1px #82aa74 solid;color: white!important;text-shadow: 0 -1px 1px #aaa;}

input.button-primary:focus, button.button-primary:focus, a.button-primary:focus, input.button-primary:active, button.button-primary:active, a.button-primary:active {-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
background-color: #82aa74;background-image: -webkit-gradient(linear, 0 0, 0 10%, from(#9ed48c), to(#9ed48c));background-image: -moz-linear-gradient(#9ed48c, #9ed48c);background-image: -o-linear-gradient(#9ed48c, #9ed48c);background-image: linear-gradient(#9ed48c, #9ed48c);-webkit-box-shadow: 0px 0px 0px #aaa, inset 0 5px 10px #82aa74;-moz-box-shadow: 0px 0px 0px #aaa, inset 0 5px 10px #82aa74;box-shadow: 0px 0px 0px #aaa, inset 0 5px 10px #82aa74; 
}

input.button-primary:hover, button.button-primary:hover, a.button-primary:hover {color:#444!important;
text-shadow: white 0 1px 2px;background: #e5e5e5; background: -moz-linear-gradient(top, #e5e5e5 0%, #f4f4f4 49%, #e5e5e5 50%, #f4f4f4 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(49%,#f4f4f4), color-stop(50%,#e5e5e5), color-stop(100%,#f4f4f4)); background: -webkit-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); background: -o-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); background: -ms-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f4f4f4',GradientType=0 ); background: linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%); transition: .3s ease-in-out;-webkit-transition: .3s ease-in-out;  -moz-transition: .3s ease-in-out;  -webkit-box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;-moz-box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;box-shadow: 0 1px 4px #ddd, inset 0 1px 0 #fff;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;

}

.blavatar {
display:none;
}

#wp-admin-bar-my-blogs ul .menupop >  a {
position:relative;
padding-left:30px;
}
#wp-admin-bar-my-blogs .menupop >  a:before{
content: ' ' ;
display:block;
position:absolute;
left:5px;
top:3px;
width:20px;
height:20px;
background:url('images/langues.png')  no-repeat;
}
#wp-admin-bar-my-blogs #wp-admin-bar-blog-1 >  a:before{
background-position: -41px 5px ;
}
#wp-admin-bar-my-blogs #wp-admin-bar-blog-6>  a:before{
background-position: -20px -13px ;
}
#wp-admin-bar-my-blogs #wp-admin-bar-blog-5 >  a:before{
background-position: 2px -28px ;
}



/**adminbar ho yeah **/


/*
body #wpadminbar .quicklinks > ul {
margin-left:30px;
}
body #wpadminbar #wp-admin-bar-my-account:before,
body #wpadminbar #wp-admin-bar-my-account-with-avatar:before{
content:" ";
position:absolute;
left:-25px;
width:25px;
height:25px;
}
*/
