/*----------------------------*\
 * Messages                   *
\*----------------------------*/

/**
 * Shared classes between all types of messages
 */
%message {
  padding: .5em;
  border-radius: .1em;
  border: 1px solid;
  text-shadow: 0 1px 0 rgba(white, .2);
}

/**
 * Color scheming based on a single color
 */
@mixin message-scheme($color) {
  @extend %message;
  color: $color;
  background: lighten($color, 38%);
  border-color: lighten(adjust-hue($color, -10), 20%);
}

/**
 * Message types
 */
$messages-types: ( (error #b94a48),
                   (info  #3a87ad),
                   (warn  #c09853),
                   (ok    #468847) );

@each $type in $messages-types {
    .message-#{nth($type, 1)} {
        @include message-scheme(nth($type, 2));
    }
}