/**
 * Blocks widths 
 * (percentages and pixels) 
 */
%width-helper {
  @include mq(small) {
    width: auto;
  }
}

.w10    { width: 10%; }
.w20    { width: 20%; }
.w25    { width: 25%; }
.w30    { width: 30%; }
.w33    { width: 33.333%; }
.w40    { width: 40%; }
.w50    { width: 50%; }
.w60    { width: 60%;     @extend %width-helper; }
.w66    { width: 66.666%; @extend %width-helper; }
.w70    { width: 70%;     @extend %width-helper; }
.w75    { width: 75%;     @extend %width-helper; }
.w80    { width: 80%;     @extend %width-helper; }
.w90    { width: 90%;     @extend %width-helper; }
.w100   { width: 100%;    @extend %width-helper; }

.w50p   { width:  50px; }
.w100p  { width: 100px; }
.w150p  { width: 150px; }
.w200p  { width: 200px; }
.w300p  { width: 300px; }
.w400p  { width: 400px; }
.w500p  { width: 500px; }
.w600p  { width: 600px;   @extend %width-helper; }
.w700p  { width: 700px;   @extend %width-helper; }
.w800p  { width: 800px;   @extend %width-helper; }
.w960p  { width: 960px;   @extend %width-helper; }
.mw960p { max-width: 960px; }

